spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: postgres
    username: postgres
    url: jdbc:postgresql://localhost:5433/postgres
  application:
    name: load-service
  jpa:
    generate-ddl: true
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
    hibernate:
      ddl-auto: none
  data:
    jpa:
      repositories:
        enabled: true

server:
  port: 8081