.branch_small {
    width: 100%;
    /* height: 100%; */
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
}

.branch_small:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.info {
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    background-image: url('../../../public/logo192.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: gray;
    border-radius: 50px;
}

.about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.distance {
    opacity: 60%; 
}


.name {
    width: 150px;
    
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mark {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} 

.text {
    font-weight: 500;
}

.count {
    font-weight: 700;
}